HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### hgok projekt ###
/src/main/resources/static/working-dir

src/test/java/com/hgok/webapp/utilTests/JANOS/

*.zip

src/test/java/com/hgok/webapp/utilTests/alma.txt

src/test/java/com/hgok/webapp/utilTests/elem

src/test/java/com/hgok/webapp/utilTests/tool-names.json

src/test/java/com/hgok/webapp/util/tool-names.json

src/test/java/com/hgok/webapp/util/destDir/TestFile3.js

src/test/java/com/hgok/webapp/util/destDir/TestFile2.js

*.cgtxt

src/test/java/com/hgok/webapp/util/JANOS/

src/test/java/com/hgok/webapp/util/elem

src/test/java/com/hgok/webapp/util/Alma/

*.txt
