<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu">
<head>
    <link rel="icon" href="icon_path" type="image/icon type">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded" th:fragment="navbar">

        <a class="navbar-brand" th:href="@{index.html}">Főoldal</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/toolList}">Eszköz Lista</a>
                <a class="nav-item nav-link" th:href="@{/addTool}"> Eszköz hozzáadása</a>
                <a class="nav-item nav-link" th:href="@{/startAnalysis}"> Elemzés indítása</a>
                <a class="nav-item nav-link" th:href="@{/listAnalysis}">Futó Elemzések</a>
            </div>
        </div>


    </nav>


</body>
</html>